@tailwind base;
@tailwind components;
@tailwind utilities;

/* Native mobile scroll setup */
html, body {
  min-height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

#root {
  min-height: 100%;
}
